/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Google Font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
/* End here */

/* Css Custom Start */

* {
  font-family: "Poppins", sans-serif;
}

/* End Default */

/* Login Form Start */
body {
  margin: 0;
  padding: 0;
  background: url(../img/bg-login.jpg);
  height: 100vh;
  font-family: sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#particles-js {
  height: 100%;
}
.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: #000000;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}
.user {
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}
h3 {
  margin: 0;
  padding: 0 0 20px;
  color: white;
  text-align: center;
}
.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}
.loginBox input[type="text"],
.loginBox input[type="password"],
.loginBox input[type="email"],
.loginBox input[type="passwordConfirmation"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: #fff;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
.loginBox input[type="text"]:hover,
.loginBox input[type="email"]:hover,
.loginBox input[type="password"]:hover {
  color: #42f3fa;
  border: 1px solid #42f3fa;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2),
    0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
}
.loginBox input[type="text"]:focus,
.loginBox input[type="email"]:focus,
.loginBox input[type="password"]:focus {
  border-bottom: 2px solid #42f3fa;
}
.inputBox {
  position: relative;
}
.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626;
}
.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #59238f;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
.loginBox a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
a:hover {
  color: #00ffff;
}
p {
  color: #0000ff;
}

.loginBox .btn-login {
  margin-left: 4.5em;
  background-color: #316cff;
}

.loginBox .btn-login:hover {
  background-color: #4f93ff;
}

.loginBox .sign-1 {
  color: white;
}

.loginBox .sign-1:hover {
  color: #316cff;
}

/* Login Start End */
